<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mikannqaq.river">
    <application>
        <!-- Release keeps launcher aliases only, avoid duplicate launcher icon. -->
        <activity android:name=".MainActivity">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>

